.relatedproducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
}
.relatedproducts h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.relatedproducts hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.relatedproducts-item {
  margin-top: 50px;
  display: flex;
  gap: 10px;
}
@media (max-width: 768px) {
  .relatedproducts {
    margin: 20px;
    height: auto;
  }

  .relatedproducts h1 {
    font-size: 32px;
  }

  .relatedproducts hr {
    width: 150px;
  }

  .relatedproducts-item {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
  }

  .relatedproducts-item img {
    width: 100%;
    height: auto;
  }
}
