.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 100vh;
  padding: 20px;
  overflow-y: auto;
}
.popular h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.popular hr {
  display: block;
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.popular-item {
  margin-top: 50px;
  display: flex;
  gap: 10px;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.popular-item > div {
  width: 24%;
}
@media (max-width: 768px) {
  .popular {
    padding: 0px;
  }
  .popular-item {
    flex-direction: row;
    gap: 110px;
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: flex-start;
  }
  .popular-item > div {
    width: 40%;
  }
}
